// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    src: url('../fonts/Behdad-Regular.woff2');
    font-family: 'behdad';
}

@font-face {
    src: url('../fonts/AvenirLTStd-Medium.otf');
    font-family: 'avenir';
}

/*
This is for icon font
*/

/* fallback */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material-icons.woff2') format('woff2');
}