.scrollbar::-webkit-scrollbar {
    width: 1rem;
}
 
.scrollbar::-webkit-scrollbar-track {
    background-color: #eee;
}
 
.scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 0.5rem;
}
