// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    grid-area: 3 / 1 / 4 / -1;
    background-color: $primary-color;

    z-index: 3;

}