// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer{
    // grid-area: 3 / 1 / 4 / -1;
    background-color: #ffcd81;

    z-index: 3;

    
    flex-basis: 1.5rem;

}