// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{

    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    z-index: 2;
    padding: 0px 10px;

    .header__logo-cont{

        flex-basis: 20rem;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        // For logo

        .header__logo-wrapper{

            align-self: stretch;
            position: absolute;
            top: -1rem;
            left: 0;
            height: 12rem;
            width: 12rem;
            background-color: white;
            border-radius: 50%;
            z-index: 1;

            .header__logo{

                width: 100%;
                max-width: 10rem;
                height: auto;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-47%, -53%);

            }

        }

        .header__disk-number-wrapper{

            transform: translateX(-100%);
            animation-delay: 1s;

            height: 3.5rem;
            width: 9rem;
            background-color: $primary-color;
            position: absolute;
            right: 1rem;
            color: white;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 1.5rem;
            border-radius: 0.5rem;


        }
        
    }

    .header__right-side{
        flex-direction: row-reverse;

        &>button{
            margin-left: 0.5rem;
        }

    }

    .header__left-side,.header__right-side{
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        align-items: center;

        &>button{
            margin-right: 0.5rem;

            &.optionalTabButton{
                transition-duration: 0.3s;
            }

        }

    }

}