// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{

    grid-area: 1 / 1 / 2 / -1;
    display: grid;
    grid-template-columns: repeat(4, [col-start] minmax(min-content, 1fr) [col-end]) [logo-start] 12rem [logo-end] repeat(4, [col-start] minmax(min-content, 1fr) [col-end]);
    grid-template-rows: 1fr;
    z-index: 2;
    align-items: center;
    padding: 0px 10px;

    .header__logo-cont{

        grid-area: 1 / logo-start / 2 / logo-end;
        align-self: stretch;
        position: relative;

        // For logo

        .header__logo-wrapper{

            position: absolute;
            height: 12rem;
            width: 12rem;
            background-color: white;
            border-radius: 50%;

            .header__logo{

                width: 100%;
                max-width: 10rem;
                height: auto;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }

        // Buttons

        .header--button-1{
            grid-area: 1 / col-start 1 / 2 / col-end 1;
        }
        
    }
}