// -----------------------------------------------------------------------------
// This file contains all styles related to the main layout of the site/application.
// -----------------------------------------------------------------------------

#wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: [header-start] 8rem [header-end main-start] 1fr [main-end footer-start] 1.5rem [footer-end];
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}