.sidebar{

    grid-area: 2 / 1 / 3 / span 4;

    display: flex;
    flex-direction: column;

    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.3);

    z-index: 2;

    .sidebar__header{

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;

        .sidebar__header-pro-search-elipsis{

            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0.5rem 0;

            .sidebar__header-pro-search-elipsis-btn{

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                color: $primary-color;

                &>i{

                    font-size: 1.4rem;
                    transition-duration: 0.3s;

                    &.rotate{
                        transition-duration: 0.3s;
                        transform: rotate(180deg);
                    }

                }

            }

            .sidebar__header-pro-search-elipsis-content{

                height: 0;
                
                overflow: hidden;

                transition-duration: 0.5s;

                display: flex;
                flex-direction: column;
                align-items: center;

                padding-top: 0.5rem;

                &.sidebar__ellipsis--show{

                    transition-duration: 0.5s;

                    height: 6rem;

                    flex-shrink: 0;

                }

                &>span{
                    
                    font-size: 1.2rem;

                    margin-bottom: 0.5rem;

                    direction: rtl;

                }

                &>select{
                    margin: auto;
                }

            }

        }

    }

    .sidebar__softwares-wrapper{

        flex-grow: 1;
        overflow-y: scroll;

        height: 0px;

        background-color: whitesmoke;

    }

}