// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    background-color: $primary-color;
    color: white;
    border: none;
    cursor: pointer;
    min-height: 40px;
    border-radius: 5px;


    &:focus{
        outline: none;
    }

}