// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    background-color: $primary-color;
    color: white;
    border: none;
    cursor: pointer;
    min-height: 4rem;
    border-radius: 0.5rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:focus{
        outline: none;
    }

    &.button--install{
        flex-basis: 15rem;
    }

    &.button--info{
        background-color: $secondary-color;
    }

    &.button--iconic{
        padding: 0;
        flex-basis: 4rem;

        &>span{
            font-size: 1.8rem;
            margin: 0;
        }

    }

    &.button--large{

        width: 22rem;
        height: 6rem;
        font-size: 2.4rem;

        &>i{
            font-size: 3rem;
        }
        
    }

    &.button--slider{

        padding: 0;
        background-color: #e7e7e7;
        color: black;

        border-bottom: 0.3rem solid $primary-color;

        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &>span{
            width: 0;
            opacity: 0;
            margin: 0;

            transition-duration: 0.3s;

        }

        &>i.active{

            & + span{

                width: calc(100% - 2*(4.5rem));

                opacity: 1;

                padding: 0 0 0 1rem;

            }
        }

        &>i:not(.active){
            color: white;
            background-color: $primary-color;

            & + span{
                height: 0;
            }

        }

        &>i{
            box-sizing: content-box;
            padding: 0 1rem 0 1rem;

            transition-duration: 0.3s;

        }

    }

    &.button--software{
        background-color: transparent;

        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;

        &>i{

            cursor: pointer;

            background-color: $primary-color;
            color: white;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            text-align: center;
            border-radius: 50%;

        }

        &>span{

            text-align: center;

            color: darken($primary-color, 30);

            font-size: 1.4rem;
            margin-top: 0.3rem;

        }

    }

    &>i{
        width: 2.5rem;
        line-height: 4rem;
    }

    &>span{
        margin-right: 0.5rem;
    }

}