// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button{
    background-color: $primary-color;
    font-size: 1.4rem;
    color: white;
    border: none;
    cursor: pointer;
    height: 3.5rem;
    border-radius: 0.5rem;
    padding: 0 0.9rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:focus{
        outline: none;
    }

    &.button--install{
        flex-basis: 14rem;
        background-image: linear-gradient(to bottom, #f39f20, #ea991f);
    }

    &.button--info{
        background-color: $secondary-color;
    }

    &.button--iconic{
        padding: 0;
        flex-basis: 3.5rem;

        background-color: #e9b026;

        &>span{
            font-size: 1.8rem;
            margin: 0;
        }

    }

    &.button--large{

        width: 20rem;
        height: 5.5rem;
        font-size: 1.8rem;

        &>i{
            font-size: 2.4rem;
        }
        
    }

    &.button--medium{

        width: 20rem;
        height: 3.5rem;
        font-size: 1.2rem;

        &>i{
            font-size: 2.0rem;
        }
        
    }

    &.button--slider{

        padding: 0;
        background-color: #e7e7e7;
        color: black;

        border-bottom: 0.3rem solid $primary-color;

        border-top-right-radius: 0;
        border-top-left-radius: 0;

        &>span{
            width: 0;
            opacity: 0;
            margin: 0;

            transition-duration: 0.3s;

        }

        &:active{
            &{
                background-color: $primary-color;
                color: white;
            }
        }

        &>i.active{

            & + span{

                width: calc(100% - 2*(3rem));

                opacity: 1;

                padding: 0 0 0 1rem;

                font-size: 1.2rem;

            }
        }

        &>i:not(.active){
            color: white;
            background-color: $primary-color;

            & + span{
                height: 0;
            }

        }

        &>i{
            box-sizing: content-box;

            width: 3rem;

            transition-duration: 0.3s;

        }

    }

    &.button--software{
        background-color: transparent;

        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;

        &>i{

            cursor: pointer;

            background-image: linear-gradient(to top, #dc9f31, #f1ae33);
            color: white;
            width: 4.5rem;
            height: 4.5rem;
            line-height: 4.5rem;
            text-align: center;
            border-radius: 50%;

        }

        &>span{

            text-align: center;

            color: darken($primary-color, 30);

            font-size: 1.2rem;
            margin-top: 0.3rem;

        }

    }

    &>i{
        width: 2.5rem;
        line-height: 3.5rem;
        font-size: 2rem;
    }

    &>span{
        margin-right: 0.5rem;

        opacity: 0.9;
    }

}