.list-wrapper{

    display: flex;
    flex-direction: column;

    background-color: whitesmoke;

    .list-wrapper__item-dvd{

        display: flex;
        flex-direction: column;

        user-select: none;

        &.active>.list-wrapper__item-content{
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            &>i:first-of-type{

                display: none!important;                

            }
            &>i:nth-child(2){
                display: block!important;
            }

        }

        &>.list-wrapper__item-content{

            z-index: 1;

            padding-left: 1rem;
            
            display: flex;
            flex-direction: row;
            align-items: center;

            flex-basis: 4rem;

            font-size: 1.4rem;

            cursor: pointer;

            &>i:first-of-type{

                font-size: 1.7rem;                

            }

            &>i:nth-child(2){
                display: none!important;
            }

            &>i:last-of-type{

                font-size: 2.8rem;

            }

            &>span{

                padding-left: .5rem;

            }

        }

        .item-wrapper__item-cat-cont-1{

            height: 0px;
            overflow-y: hidden;
            transition-duration: 0.3s;

            background-color: #eee;
            padding-left: 4rem;

            .item-wrapper__item-cat-cont-2{
                border-left: 1px solid black;

                .list-wrapper__item-cat{

                    display: flex;
                    flex-direction: column;

                    padding-right: 1.5rem;

                    &.active{

                        &>.list-wrapper__item-content>i:first-of-type{

                            display: none!important;

                        }

                        &>.list-wrapper__item-content>i:last-of-type{

                            display: block!important;

                        }

                        & .list-wrapper__item-software .list-wrapper__item-content>i{
                            opacity: 1!important;
                        }

                    }
                    
                    &>.list-wrapper__item-content{
            
                        display: flex;
                        flex-direction: row;
                        align-items: center;
            
                        flex-basis: 4rem;
            
                        font-size: 1.2rem;

                        margin-left: -0.75rem;

                        cursor: pointer;

                        &>i{
            
                            font-size: 1.4rem;
                            width: 1.4rem;
                            height: 1.4rem;    
                            background-color: #eee;
            
                        }

                        &>i:last-of-type{

                            display: none!important;

                        }
            
                    }

                    .list-wrapper-item-software-cont{

                        height: 0px;
                        overflow-y: hidden;
                        transition-duration: 0.3s;

                        display: flex;
                        flex-direction: column;

                        .list-wrapper__item-software{

                            margin-top: 2.5px;
                            margin-bottom: 2.5px;
    
                            display: flex;

                            flex-shrink: 0;
    
                            flex-basis: 2.8rem;
    
                            cursor: pointer;

                            &.active{
                                &>.list-wrapper__item-content{
                                    &>span{

                                        background-color: $primary-color;
    
                                        border-left: 5px solid red;

                                        color: white;

                                    }
                                }
                            }
    
                            &>.list-wrapper__item-content{
                
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                    
                                flex-grow: 1;
                    
                                font-size: 1.4rem;
        
                                margin-left: -2.4rem;
                    
                                &>i{
        
                                    background-image: url($base-url + 'images/logo.gif');
                                    width: 2rem;
                                    height: 2rem;
                                    background-size: 100% 100%;

                                    opacity: 0;

                                    transition-delay: 0.3s;

                                    transition-duration: 0.3s;
        
                                }
                    
                                &>span{
    
                                    color: white;
    
                                    padding-left: 1.5rem;
    
                                    line-height: 2.8rem;
    
                                    margin-left: 4px;
    
                                    flex-grow: 1;
    
                                    align-self: stretch;

                                    background-color: darken(#eee,5);

                                    color: black;
                    
                                }
                    
                            }
    
                        }
            

                    }

                    
                }

            }

        }

    }

}