<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gerdoo</title>

  <!-- CSS -->

  <link rel="stylesheet" href="../css/main.css">

</head>

<body>

  <div id="wrapper">

    <audio class="none" src="../musics/1.mp3" loop autoplay></audio>

    <header class="header pmd-z-depth-1">

      <div class="header__left-side">
        <button class="button--install button autorunInstallButton">
          نصب اتوران
        </button>
        <button class="button button--iconic musicButton">
          <i class="material-icons">
            music_note
          </i>
        </button>
        <!-- <button class="button button--iconic">
          <span>En</span>
        </button> -->
      </div>

      <div class="header__logo-cont">
        <div class="header__logo-wrapper pmd-z-depth-2">
          <img class="header__logo" src="../images/logo.gif" alt="Gerdoo Logo">
        </div>
        <div class="header__disk-number-wrapper">
          Disk 3
        </div>
      </div>

      <div class="header__right-side">
        <button class="button button--info essentialsButton">
          <i class="material-icons">info_outline</i>
          <span>نکات ضروری قبل از نصب نرم افزار</span>
        </button>
        <button class="button button--info optionalTabButton hidden">
          <span></span>
        </button>
      </div>

    </header>

    <aside class="sidebar pmd-z-depth-1">

      <header class="sidebar__header">

        <div class="sidebar__header-searchbox-wrapper input">
          <i class="input__icon material-icons">search</i>
          <input placeholder="جستجوی نرم افزارها" type="search" class="input__box">
        </div>

        <div class="sidebar__header-pro-search-elipsis">

          <a class="sidebar__header-pro-search-elipsis-btn">

            <i class="material-icons">keyboard_arrow_down</i>
            جستجوی پیشرفته

          </a>

          <div class="sidebar__header-pro-search-elipsis-content">
            <span>
              سیستم عامل مد نظر خود را انتخاب کنید:
            </span>
            <select class="osList select">
              <option value="1">
                All
              </option>
            </select>
          </div>

        </div>

      </header>

      <div class="sidebar__softwares-wrapper scrollbar">

        <div class="list-wrapper">

          <div class="list-wrapper__item-dvd active">

            <div class="list-wrapper__item-content">
              <i class="material-icons">
                add
              </i>
              <i class="material-icons">
                remove
              </i>
              <i class="material-icons">
                adjust
              </i>
              <span>
                Disk 1
              </span>
            </div>

            <div class="item-wrapper__item-cat-cont-1">
              <div class="item-wrapper__item-cat-cont-2">
                <div class="list-wrapper__item-cat active">
                  <div class="list-wrapper__item-content">
                    <i class="material-icons">
                      add
                    </i>
                    <i class="material-icons">
                      remove
                    </i>
                    <span>
                      Graphics and editing
                    </span>
                  </div>

                  <div class="list-wrapper-item-software-cont">
                    <div class="list-wrapper__item-software active">
                      <div class="list-wrapper__item-content">
                        <i></i>
                        <span>
                          Soft 1
                        </span>
                      </div>
                    </div>
                    <div class="list-wrapper__item-software">
                      <div class="list-wrapper__item-content">
                        <i></i>
                        <span>
                          Soft 1
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="list-wrapper list-wrapper--search none">

        </div>

      </div>

    </aside>

    <div class="software-wrapper">

      <div class="software-wrapper__info-wrapper scrollbar">

        <div class="about-gerdoo">
          <div class="about-gerdoo__logo-wrapper">
            <img src="../images/logo.gif" alt="Gerdoo Logo">
          </div>

          <div class="about-gerdoo__content-wrapper">
            <h3 class="about-gerdoo__title">
              درباره
              <span class="highlight">گردو</span>
            </h3>
            <div class="about-gerdoo__arrow-down">
              <i class="material-icons">
                keyboard_arrow_down
              </i>
            </div>
            <div class="about-gerdoo__content">

            </div>
          </div>
        </div>

        <div class="software-details pmd-z-depth-2 none">

          <header class="software-details__header">
            <i class="material-icons software-details__close">close</i>
            <h1 class="software-details__title">
              Adobe Photoshope
            </h1>
            <h4 class="software-details__OSes">
              OSes: Windows 8 32bit, Windows 8 64bit
            </h4>
          </header>

          <div class="software-details__menu">

            <div class="software-details__files-button button button--software">
              <i class="material-icons pmd-z-depth-1">event</i>
              <span>
                فایل‌ها
              </span>
            </div>

            <div class="software-details__crack-button button button--software">
              <i class="material-icons pmd-z-depth-1">event</i>
              <span>
                کرک
              </span>
            </div>

            <div class="software-details__main-buttons">

              <div class="software-details__desc-button button button--slider">
                <i class="material-icons active">info_outline</i>
                <span>راهنمای نصب</span>
                <i class="material-icons">
                  event
                </i>
                <span>
                  توضیحات
                </span>
              </div>

              <div class="software-details__install-button button pmd-z-depth button--info button--large">
                <i class="material-icons">event</i>
                <span>نصب نرم‌افزار</span>
              </div>

            </div>

            <div class="software-details__suggested-icon">
              <i></i>
              <span>
                پیشنهادی گردو
              </span>
            </div>

          </div>

          <div class="software-details__content-wrapper">

            <div class="software-details__description active">

            </div>

            <div class="software-details__installation-guide">
              <div class="software-details__installation-video-wrapper">
                <video src="../videos/small.mp4" controls></video>
              </div>
              <div class="software-details__installation-guide-content">

              </div>
            </div>

          </div>

        </div>

        <div class="page optionalTab pmd-z-depth-2 none">

          <h2 class="page__title">
            نکات ضروری قبل از نصب نرم‌افزار
          </h2>

          <div class="page__content">

          </div>

        </div>

        <div class="page essentials pmd-z-depth-2 none">

          <h2 class="page__title">
            نکات ضروری قبل از نصب نرم‌افزار
          </h2>

          <div class="page__content">

          </div>

        </div>

      </div>

      <div class="software-wrapper__bottom-overlay">

      </div>

    </div>

    <footer class="footer">
    </footer>

  </div>

  <div class="loading loading--hidden">
    <span class="loading__text">
      یکی از دیسک‌های گردو را داخل دستگاه خود وارد کنید.
    </span>
  </div>

  <!-- scripts -->

  <script src="../js/plugins/snackbar.js"></script>

  <script src="../js/helpers/elementHelper.js"></script>

  <script src="../js/views/main/helpers/Loading.js"></script>

  <script src="../js/views/main/index.js"></script>

  <script>
    require('../js/views/main/dataManagers/PackContentManager');

    require('../js/views/main/dataManagers/OSManager');

    require('../js/views/main/dataManagers/GeneralInfoManager');
  </script>

</body>

</html>