<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gerdoo</title>

  <!-- CSS -->

  <link rel="stylesheet" href="../css/main.css">

</head>

<body>

  <div id="wrapper">

    <header class="header pmd-z-depth-1">

      <div class="header__logo-cont">
        <div class="header__logo-wrapper pmd-z-depth-2">
          <img class="header__logo" src="../images/logo.gif" alt="Gerdoo Logo">
        </div>
      </div>

      <button class="header--button-1 button">
        نصب اتوران
      </button>

    </header>

    <aside class="sidebar">

      <header class="sidebar__header">

        <div class="sidebar__header-searchbox-wrapper input">
          <i class="input__icon material-icons">search</i>
          <input placeholder="جستجوی نرم افزارها" type="search" class="input__box">
        </div>

        <div class="sidebar__header-pro-search-elipsis">

          <a class="sidebar__header-pro-search-elipsis-btn">

            <i class="material-icons">keyboard_arrow_down</i>
            جستجوی پیشرفته

          </a>

        </div>

      </header>

      <div class="sidebar__softwares-wrapper">

        <div class="list-wrapper">

          <div class="list-wrapper__item-dvd active">

            <div class="list-wrapper__item-content">
              <i class="material-icons">
                add
              </i>
              <i class="material-icons">
                remove
              </i>
              <i class="material-icons">
                adjust
              </i>
              <span>
                Disk 1
              </span>
            </div>



            <div class="item-wrapper__item-cat-cont-1">
              <div class="item-wrapper__item-cat-cont-2">
                <div class="list-wrapper__item-cat active">
                  <div class="list-wrapper__item-content">
                    <i class="material-icons">
                      add
                    </i>
                    <i class="material-icons">
                      remove
                    </i>
                    <span>
                      Graphics and editing
                    </span>
                  </div>

                  <div class="list-wrapper-item-software-cont">
                    <div class="list-wrapper__item-software active">
                      <div class="list-wrapper__item-content">
                        <i></i>
                        <span>
                          Soft 1
                        </span>
                      </div>
                    </div>
                    <div class="list-wrapper__item-software">
                      <div class="list-wrapper__item-content">
                        <i></i>
                        <span>
                          Soft 1
                        </span>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>

    </aside>

    <div class="software-wrapper">

      <div class="software-wrapper__info-wrapper">



      </div>

    </div>

    <footer class="footer">
      footer
    </footer>

  </div>

</body>

</html>